@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 37 20% 95%;
    --foreground: 23 23% 19%;
    --card: 37 20% 95%;
    --card-foreground: 23 23% 19%;
    --popover: 37 20% 95%;
    --popover-foreground: 23 23% 19%;
    --primary: 122 46% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 122 30% 93%;
    --secondary-foreground: 128 55% 24%;
    --muted: 30 30% 93%;
    --muted-foreground: 25 24% 34%;
    --accent: 122 35% 84%;
    --accent-foreground: 128 55% 24%;
    --destructive: 0 67% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 24% 84%;
    --input: 30 24% 84%;
    --ring: 122 46% 34%;
    --chart-1: 122 45% 50%;
    --chart-2: 122 43% 42%;
    --chart-3: 122 46% 34%;
    --chart-4: 128 55% 24%;
    --chart-5: 137 52% 8%;
    --sidebar: 30 30% 93%;
    --sidebar-foreground: 23 23% 19%;
    --sidebar-primary: 122 46% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 122 35% 84%;
    --sidebar-accent-foreground: 128 55% 24%;
    --sidebar-border: 30 24% 84%;
    --sidebar-ring: 122 46% 34%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Source Code Pro, monospace;
    --radius: 0.5rem;
  }

  .dark {
    --background: 148 20% 14%;
    --foreground: 37 20% 93%;
    --card: 148 13% 20%;
    --card-foreground: 37 20% 93%;
    --popover: 148 13% 20%;
    --popover-foreground: 37 20% 93%;
    --primary: 122 45% 50%;
    --primary-foreground: 137 52% 8%;
    --secondary: 148 10% 26%;
    --secondary-foreground: 122 16% 86%;
    --muted: 148 13% 20%;
    --muted-foreground: 37 15% 82%;
    --accent: 122 43% 39%;
    --accent-foreground: 37 20% 93%;
    --destructive: 0 67% 47%;
    --destructive-foreground: 37 20% 93%;
    --border: 148 10% 26%;
    --input: 148 10% 26%;
    --ring: 122 45% 50%;
    --chart-1: 122 35% 65%;
    --chart-2: 122 37% 57%;
    --chart-3: 122 45% 50%;
    --chart-4: 122 41% 45%;
    --chart-5: 122 43% 39%;
    --sidebar: 148 20% 14%;
    --sidebar-foreground: 37 20% 93%;
    --sidebar-primary: 122 45% 50%;
    --sidebar-primary-foreground: 137 52% 8%;
    --sidebar-accent: 122 43% 39%;
    --sidebar-accent-foreground: 37 20% 93%;
    --sidebar-border: 148 10% 26%;
    --sidebar-ring: 122 45% 50%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Source Code Pro, monospace;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
